div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.clickable {
    cursor: pointer;
}

.hidden-scroll {
    overflow-y: hidden;
}

#user-graph {
    border: 1px solid rgba(34, 31, 42, 0.71);
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 20;
    padding: 5px 5px 5px 5px;
}

#another-user-graph {
    border: 1px solid rgba(34, 31, 42, 0.71);
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: 20;
    padding: 5px 5px 5px 5px;
}

.source-code {
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc;
    width: 100%;
    font-size: 11px !important;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    color: #000;
}

.bg-success-light {
    background-color: #EEF9F0;
    border-bottom: #488A72 solid 2px;
    font-weight: 700;
}

.button-info {
    color: #fff;
    background: #0e90d2;
    border: none;
    border-radius: 16px;
    width: 80% !important;
    padding-right: 8px !important;
    padding-left: 5px !important;
}

.border-none {
    border: none !important;
}